/*Here's a comment to make my CSS easier to read. Also I have CSS on line __ of my index*/
h1 {
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 0.75em;
    width: 3000pt;
}

h3 {
    color: #444444;
    font-size: 0.8rem;
    width: 999px;
}

h5 {
    color: hsl(180, 50%, 50%);
    font-size: 0.85lh;
    width: 15cm;
}

b {
    background-color: black;
    color: gray;
}